$primary-color: #FF5733;
$secundary-color:#fff;
$tertiary-color: #e0ac1c;






@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Rubik+Mono+One&display=swap');


nav{
    background-image:linear-gradient(to right, #ffffff 0%, #c0c0c0 100%);
}

body{
    background-color: hsl(0, 0%, 100%);
    margin: 0px;
}


h2{
    color: $primary-color;
    font-weight: 900;
    font-family:'montserrat'
    }

h3{
color: $primary-color;
font-weight: 400;
font-family:'montserrat'
    }


.header{
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    padding: 5px 10%;
}



.header .logo img{
    height: 120px;
    width: auto;
}


.header .nav-links{
    list-style: none;
    font-size: 800;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}


.header .nav-links a{
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif; 
    font-size:large;
    font-weight: bold;
    color: $primary-color;
    text-decoration:none;


}

.header .nav-links li a:hover{
    color: #010101;
    box-shadow: 0 3px 0 0;
}

/* inicio Proteinass*/

.proteinas{
    border: 20px;
    border-color:$primary-color;
    margin-top: 50px;
}

.row .proteinas{
    margin-bottom: 20px;

}

.col{
    border-radius: 2px;
    margin-top: 20px;
}







/*index slider*/

.carousel{
    interval: 1000
    
}
.slider{
    width:80%;
    height: auto

  
}

.imagen-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
}

.imagen-slider img {
    max-width: 200%;
    max-height: 100%;
    object-fit: cover;
    
}


.carousel-inner{
    width:100%;
    height: 360px;
    align-content:center;
}
.carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
    
}


.contenedor-video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .contenedor-video iframe {
    max-width: 100%;
    max-height: 100%;
  }
  

/*

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    padding: 5px 10px;
    background-color: rgb(196, 196, 196)
}



.header .logo img{
    height: 80px;
    width: auto;
}

.header .nav-link a{
    font-size: 700;
    color: #fff;
    text-decoration: none;
}

.header .nav-link li a:hover{
    color:#FF5733
}
*/


/* menu

.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}


.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  
}

.info-product{
    padding: 10px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}


/*menu opcion2 */


.menu{
    margin-top: 30px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}


.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.comida-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}
.comida-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.contenido-menu{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.contenido-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.contenido-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.precio{
    text-align: right;
}
.contenido-menu>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.contenido-menu>button{
    background-color: #FF5733;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    transition: .4s all;

}

.contenido-menu>button:hover{
    transform: translate(+9px);
    background-color: #B24C63;
}



/*Merche*/

.merch{
    margin-top: 30px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
    
}

.merch-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}
.merch-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.contenido-merch{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}

.contenido h2{
   color:$primary-color;
}

.contenido-merch>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.contenido-merch>button{
    background-color: $primary-color;
    border: none;
    color: $secundary-color;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    transition: .4s all;

}

.contenido-merch>button:hover{
    transform: translate(+9px);
    background-color: $primary-color;
}




/*delivery*/

.dondedelivery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}

.cont-deli{
    padding: 0px 100px;
    ;

}


.caja1{
    height: 350px;
    width: 450px;
    background-color:$primary-color;
    float: left;
    padding-left: 12px;
}


.caja2{
    height: 350px;
    width: 450px;
    background-color: $primary-color;
    float: left;
    padding-left: 12px;
}

.listo{
    margin-left:100px;
    margin-top: 40px;
}


/*galeria ROADMERCH*/
.gallery-container-merch {
    height: 400px;
    width:80%;
    justify-content:space-around;
    background-color:$secundary-color;
    margin: auto;
    padding: 10px 30px;
    line-height: 3;
    display: flex;
    flex-direction: row;
    gap: 3px;
    
    
  }
  
  .gallery-item-merch {
    max-width: auto;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  
  .gallery-item-merch img {
    max-width: 300px;
    height: auto;
  }


.titulo-merch{
    text-align: center;
    margin: auto;
    margin-top: 40px;
    color:$primary-color;
}

/*Quienes somos*/

.quienessomos{
background-image: url(../assets/fondo-burger2.jpg)
}


h1{
color: $primary-color;
font-weight: 900;
font-family:'montserrat'
}


/*contacto*/

.contacto{
    height: 350px;
    width: 450px;
    background-color: #FF5733;
    margin: auto;
    padding-left: 32px;
    padding-top: 30px;
    margin-top: 50px;
   background-position: center;
   background-attachment: fixed;
}



.fondocontacto{


    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/fondo-contactos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
        }

.card{
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}


.form{
    width: 100%;
    //mar
}

/*
.h1{
    font-weight: 700;
    font-family: 'roboto';
}


/* The footer is fixed to the bottom of the page */

footer {
    
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;

}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */


.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 20px;
  
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        

        


/*ejemplo contacto*/


.contacto1{
    background-image: url(../assets/fondo-contactos.jpg);
    background-size: cover;
    height: 100vh;
}

.form-label{
    font-size: x-large;
    color:$primary-color;
   
}

.form-control{
  border-color:$primary-color;

}

form{
    width: 100vw;
    margin: auto;
    padding: 50px;
    background-color: $secundary-color;
}


